{% extends 'main.html' %}



{% load static %}{% block cssLink %}
{%endblock %}


			{% block title %}{% endblock title %}

{% load static %}
	{% block panel %}
					
	{% endblock panel %}


{% load static %}
	{% block body %}
		<form>
		<p><input list="cqq"></p>
		<datalist id="cqq">
			<option>DDDDDD</option>
			<option>qq</option>
			<option>qqwwee</option>
			<option>fqsa</option>
			<option>dsqgqhqg</option>
			<option>glqpeg</option>
		</datalist>
	</form>

	{% endblock body %}




{% url 'Settings' %}


