.create{
	display: flex;
	flex-direction: column;
}
.obj{
	justify-content: center;
	margin-top: 2vw;
	text-decoration: none;
}
#obj1{
	color:#888;
}
h3:hover{
	color: #000;
}
.object{
	display: flex;
	justify-content: center;
	margin-top: 2vw;
}
.box{
	border-radius: 1vw;
	background-color: #444;
}
.obje{
	margin: 1vw;
	text-decoration: none;	
}

h3{
	color: #FFF;
	font-size: 2vw;
}

@media (max-width: 500px) {

	h3{
		font-size: 6vw;
	}
	.obj{
		margin-top: 5vw;
	}
}